<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<style>
    body {
        background-image: url("https://images.unsplash.com/photo-1512386233331-f023884a92e8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=895&q=80");
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
    }
    h1 {
        margin-top: 8vh;
    }
</style>
<body>
<div class="container my-2">
<h1 class="text-center p-4">User Administration Page</h1>

<table class="table table-striped table-responsive-md">
    <thead>
    <tr>
        <th>Id</th>
        <th>User role</th>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.userRole}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.password}"></td>
        <td><a th:href="@{/myTodoList/showFormForUpdate/{id}(id=${user.id})}" class="btn btn-dark">Update</a></td>
        <td><a th:href="@{/myTodoList/deleteUser/{id}(id=${user.id})}" class="btn btn-secondary">Delete</a></td>
    </tr>
    </tbody>
</table>
    <div class="p-4">
        <a th:href="@{/admin/adminUsers}" class="btn btn-dark">Show only administrators</a>
        <a th:href="@{/myTodoList/showFormAddUser}" class="btn btn-dark">Add new user</a>
    </div>
    <footer>
        <a th:href="@{/landingPage}" class="btn btn-dark">Home page</a>
    </footer>
</div>
</body>
</html>