<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2">
    <h1 class="text-center p-4">Welcome to your TO-DO list!</h1>
    <!--<a th:href="@{/myTodoList/student}">Go to Student page</a>-->
    <div class="p-4 text-center">
        <a th:href="@{/about}" class="btn btn-primary mr-2">About</a>
        <a th:href="@{/myTodoList/user}" class="btn btn-primary mr-2">User page</a>
        <a th:href="@{/admin/adminPage}" class="btn btn-primary">Admin page</a>
    </div>
</div>
</body>
</html>