<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 class="text-center p-4">Update user</h1>
    <form action="#" th:action="@{/myTodoList/updateUser/{idToUpdate}(idToUpdate=${user.id})}" th:object = "${user}" method="post">
        <label for="id">id</label>
        <input type = "text" readonly th:field="*{id}" id="id" class="form-control mb-4 col-4">

        <label for="name">Name</label>
        <input type = "text" required th:field="*{name}" id="name" class="form-control mb-4 col-4">

        <label for="email">Email</label>
        <input type = "email" required th:field="*{email}" id="email" class="form-control mb-4 col-4">

        <label for="password">Password</label>
        <input type = "password" minlength="3" required th:field="*{password}" id="password" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2">Update User</button>

    </form>
</div>
</body>
</html>